.buildpath
.hgignore.swp
.project
.orig
.swp
go.sum
.idea/
.settings/
.vscode/
vendor/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
**/.DS_Store
.test/
main
output/
manifest/output/
temp/
tmp/
internal/app/admin/config/config.toml
internal/app/admin/main.exe~